@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.header {
  background-color: rgba(0, 0, 0, 0.916);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0px ;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

.points {
  display: flex;
  justify-content: space-between;
  gap: 7vw;
}

.points a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 18px 8px;
}

.home {
  padding: 0.5em;
}

.search {
  padding: 5px 13px;
    margin: 9px;
    text-align: center;
    border-radius: 8vh;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-transform: capitalize;
    color: black;
}

.loginnow {
  padding: 5px 0px 0px 0px;
}
