button {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
  margin: 0px 8px;
  border: 2px solid white;
}

button:hover {
  background-color: rgb(43, 43, 43);
  color: rgb(255, 248, 248);
  border: 2px solid black;
}
