button{
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 10px;
    padding: 1vh;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: antiquewhite;
    color: black;
}