* {
  color: white;
}
.products {
  margin: 0.2em 0.4em;
  width: 15em;
  float: left;
}
.items img {
  width: 100%;
}
.title {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 20px;
}

.channel,
.views {
  margin-bottom: 0.2em;
  font-size: medium;
}

.time {
  margin-bottom: 0.2em;
  padding: 5px;
  font-size: small;
}
