/* app.css */
html, body {
  height: 100%;
  margin: 0; /* Reset the default margin for the body element */
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  flex-grow: 1; /* Allow the div to grow and fill all available vertical space */
  min-height: 100%; /* Set the minimum height to 100% of the viewport height */
}

.lightmode {
  background-color: #acacac;
}
.btn{
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}